----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Eikon Data API - Time Series examples
This notebook demonstrates how to retrieve Time Series from Eikon or Refinitiv Workspace.

#### Learn more
To learn more about the Data API just connect to the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [login](https://developers.refinitiv.com/iam/login) to the Refinitiv Developer Community portal you will get free access to a number of learning materials like [Quick Start guides](https://developers.refinitiv.com/eikon-apis/eikon-data-api/quick-start), [Tutorials](https://developers.refinitiv.com/eikon-apis/eikon-data-api/learning), [Documentation](https://developers.refinitiv.com/eikon-apis/eikon-data-api/docs) and much more.  

#### About the "eikon" module of the Refinitiv Data Platform Library
The "eikon" module of the Refinitiv Data Platform Library for Python embeds all functions of the classical Eikon Data API ("eikon" python library). This module works the same as the Eikon Data API and can be used by applications that need the best of the Eikon Data API while taking advantage of the latest features offered by the Refinitiv Data Platform Library for Python. 

#### Getting Help and Support

If you have any questions regarding the API usage, please post them on the [Eikon Data API Q&A Forum](https://community.developers.thomsonreuters.com/spaces/92/index.html). The Refinitiv Developer Community will be happy to help.

## Import the library and connect to Eikon or Refinitiv Workspace

In [4]:
import refinitiv.data.eikon as ek
import datetime

ek.set_app_key('1e5d227dd54a4efc8ff630df09dd314e4d44ce07')

## Get Time Series

#### Simple call with default parameters

In [5]:
ek.get_timeseries(['VOD.L'])

VOD.L         HIGH    LOW   OPEN  CLOSE  COUNT     VOLUME
Date
2023-03-27   89.57  88.74  89.15   89.1   5678   32518560
2023-03-28    89.4  88.06  89.24  88.95   6508  271200225
2023-03-29   90.17  88.28  88.82  89.83   5950   33529616
2023-03-30  90.005  89.06   89.7  89.54   6730   46373204
2023-03-31   89.81  89.07  89.46   89.3   5404   87846373
...            ...    ...    ...    ...    ...        ...
2023-06-28   74.42  73.29  73.41  73.66  10274   90448515
2023-06-29   74.38   73.2   74.0  74.34   6961   49219249
2023-06-30   74.77  73.81  74.47  73.97   5572   57666637
2023-07-03   75.31  73.97  74.24  74.32   8459   44663976
2023-07-04   74.84  73.66  74.41  73.66   3104   29366242

[67 rows x 6 columns]

#### Get Time Series with more parameters

In [6]:
ek.get_timeseries(['VOD.L', 'GOOG.O'], 
                  start_date=datetime.timedelta(-1), 
                  end_date=datetime.timedelta(0), 
                  interval='minute')

Security             VOD.L                                         GOOG.O  \
Field                 HIGH    LOW   OPEN  CLOSE COUNT      VOLUME    HIGH
Date
2023-07-03 18:10:00   <NA>   <NA>   <NA>   <NA>  <NA>        <NA>  120.48
2023-07-03 18:11:00   <NA>   <NA>   <NA>   <NA>  <NA>        <NA>  120.56
2023-07-03 18:12:00   <NA>   <NA>   <NA>   <NA>  <NA>        <NA>  120.42
2023-07-03 18:13:00   <NA>   <NA>   <NA>   <NA>  <NA>        <NA>  120.44
2023-07-03 18:14:00   <NA>   <NA>   <NA>   <NA>  <NA>        <NA>  120.43
...                    ...    ...    ...    ...   ...         ...     ...
2023-07-04 15:33:00  73.74  73.14   73.7  73.14    36   291728994    <NA>
2023-07-04 15:34:00  73.57  73.14  73.14   73.5    39   351732757    <NA>
2023-07-04 15:35:00  73.69   73.5   73.5  73.65   164  2072826809    <NA>
2023-07-04 15:36:00  73.66  73.65  73.65  73.66    48   731142356    <NA>
2023-07-04 15:38:00  73.66  73.66  73.66  73.66     1       15426    <NA>

Security
Field                   LOW    OPEN   CLOSE COUNT VOLUME
Date
2023-07-03 18:10:00  120.42  120.42  120.48     5     14
2023-07-03 18:11:00  120.39  120.56  120.42     4    599
2023-07-03 18:12:00   120.4   120.4  120.42     2      2
2023-07-03 18:13:00   120.4  120.44   120.4     6     78
2023-07-03 18:14:00   120.4  120.43   120.4     4     22
...                     ...     ...     ...   ...    ...
2023-07-04 15:33:00    <NA>    <NA>    <NA>  <NA>   <NA>
2023-07-04 15:34:00    <NA>    <NA>    <NA>  <NA>   <NA>
2023-07-04 15:35:00    <NA>    <NA>    <NA>  <NA>   <NA>
2023-07-04 15:36:00    <NA>    <NA>    <NA>  <NA>   <NA>
2023-07-04 15:38:00    <NA>    <NA>    <NA>  <NA>   <NA>

[640 rows x 12 columns]