----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get data
This notebook demonstrates how to retrieve Pricing snapshots and Fundamental & Reference data using the get_data() function.

#### About the get_data function
The get_data() function allows you to retrieve pricing snapshots as well as Fundamental & Reference data via a single function call.


***get_data()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
- ***parameters***: Additional parameters for Fundamental & Reference fields ("TR." fields)
    - Type: Dictionary
    - Optional: Yes  
    
**get_data()** returns a pandas.DataFrame with fields in columns and instruments as row index.  
It raises exceptions on error and when no data is available

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [2]:
import refinitiv.data as rd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [3]:
rd.open_session()

## Retrieve data

### Pricing snapshots

In [7]:
rd.get_data(['LSEG.L', 'VOD.L'])

RDError: Error code -1 | EOF occurred in violation of protocol (_ssl.c:2483)

In [5]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['BID', 'ASK']
)

Empty DataFrame
Columns: []
Index: []

### Fundamental data

In [6]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.Revenue']    
)

  Instrument      Revenue
0     LSEG.L   7743000000
1      VOD.L  45706000000

### Mix of pricing snapshots and fundamental data

In [8]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['BID', 'ASK', 'TR.Revenue']
)

  Instrument      Revenue
0     LSEG.L   7743000000
1      VOD.L  45706000000

### Fundamental fields with parameters

In [9]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.PriceTargetMean(Source=ThomsonReuters)']
)

  Instrument  Price Target - Mean
0     LSEG.L           9586.14286
1      VOD.L            103.51154

### Fundamental fields with global parameters

In [10]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.EV','TR.EVToSales'],
    parameters = {'SDate': '0CY', 'Curn': 'CAD'}
)

,Instrument,Enterprise Value (Daily Time Series),Enterprise Value To Sales (Daily Time Series Ratio)
0,LSEG.L,77536232151.933105,6.523209
1,VOD.L,129010979414.403,1.933286

### Fundamental fields history (Not recommended - Please use get_history instead)
_**Important note:** get\_data can be used with SDate and EDate parameters to retrieve fundamental time series. However, this practice (shown in the following two examples) is not recommended because it can cause alignment issues. This is due to the nature of get\_data which was designed for retrieving current data. For time series please use get\_history()._

In [13]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['TR.Revenue.date', 'TR.Revenue'],
    parameters = {'SDate':0, 'EDate':-3}
)

  Instrument       Date      Revenue
0     LSEG.L 2021-12-31   6740000000
1     LSEG.L 2020-12-31   2030000000
2     LSEG.L 2019-12-31   2314000000
3     LSEG.L 2018-12-31   2135000000
4      VOD.L 2022-03-31  45580000000
5      VOD.L 2021-03-31  43809000000
6      VOD.L 2020-03-31  44974000000
7      VOD.L 2019-03-31  43666000000

In [14]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['TR.Revenue(SDate=0, EDate=-3).date', 'TR.Revenue(SDate=0, EDate=-3)']
)

  Instrument       Date      Revenue
0     LSEG.L 2021-12-31   6740000000
1     LSEG.L 2020-12-31   2030000000
2     LSEG.L 2019-12-31   2314000000
3     LSEG.L 2018-12-31   2135000000
4      VOD.L 2022-03-31  45580000000
5      VOD.L 2021-03-31  43809000000
6      VOD.L 2020-03-31  44974000000
7      VOD.L 2019-03-31  43666000000

### Close the session

In [11]:
rd.close_session()